
header{
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-color: rgba(87, 124, 248, 0.877);
    height: 100px;
}
h1{
    font-size: 30px;
    margin-bottom: 0;
}

figure{
    margin: 0;}

#logo{
    margin-left: 10px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sottolineatura{
    color: rgb(0, 162, 255);
}

.sotto-titolo{
    color: rgb(134, 134, 134);
}
.data{
    color: darkgrey;
    font-size: 13px;
}

.descrizione-foto{
    font-size: 13px;;
}

.evidenziatura{
    background-color: yellow;
}

th{
    width: 30%;
    text-align: left;
}

td{
    width: 30%;
}
ul{
    padding-left: 15px;
}



.foto-footer-1, .foto-footer-2{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;

}

.foto-footer-1{
  background-image: url(../img/monitor.jpg);
}
.foto-footer-2{
    background-image: url(../img/graph.jpg);
  }

.pc-name{
   color: white;
   padding: 10px;
   font-size: 20px;
}
table{
    border-collapse: collapse;
}
thead{
    background-color: rgb(32, 169, 229);
}


.tr-blu{
    background-color: rgb(177, 229,242);
}